---
pageTitle: {{ pageTitle }}
layout: baseLayout.liquid
---
<h1><img alt="" src={{ emoji }} style="display:inline; height:1em;"/>{{ pageTitle }}</h1>

<section style="background-color:rgb(255,253,250)">
    <h2>Learning Objectives</h2>
    <p>
        At the end of this session, students should:
        <ul>
            {% for objective in learningObjectives %}
                <li>{{ objective }}</li>
            {% endfor %}

        </ul>
    </p>
</section>

<section style="background-color:rgb(255,253,250)">
    <h2>Pre-work</h2>
    <p>{{ preWork }}</p>
</section>

<section style="background-color:rgb(255,253,250)">
    <h2>Blank Worksheets</h2>
    <p>{{ preWork }}</p>
</section>

<section style="background-color:rgb(255,253,250)">
    <h2>Script for: "{{ pageTitle }}"</h2>
    <p>{{ content }}</p>
</section>

<section style="background-color:rgb(255,253,250)">
    <h2>Graphics</h2>
    <ul>
        {% for graphic in graphics %}
            <li><img src={{graphic.src}} alt={{graphic.alt}} /> {{graphic.alt}}</li>
        {% endfor %}
    </ul>
</section>

<section style="background-color:rgb(255,253,250)">
    <h2>Learn More</h2>
    <ul>
        {% for resource in syllabus %}
            <li>{{ resource.text }} <a href={{ resource.url }}>{{ resource.link }}</a></li>
        {% endfor %}
    </ul>
</section>